<div class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title is-size-1">Hi, I'm Ascytra👦🏾</h1>

          <br />
          <h2 class="is-size-3">
            I am a web developer, technology enthusiast and gamer.
          </h2>

          <br />
          <p class="is-size-5 has-text-grey-light">
            Welcome to my blog !
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot has-text-centered">
    <i
      class="fas fa-angle-down is-size-3 animate__animated animate__bounce"
    ></i>
  </div>
</div>

<ascytra-about></ascytra-about>
